# Plaid API Keys
PLAID_CLIENT_ID=your_client_id
PLAID_SECRET=your_secret
PLAID_ENV=sandbox # Options: sandbox, development, production
PLAID_PRODUCTS=auth,transactions,investments,liabilities
PLAID_COUNTRY_CODES=US

# Database Connection
DATABASE_URL=sqlite:///./finance.db
